<!doctype html>
<html>
<head>
	<title>{{ page.title }}</title>
  <meta name="author" content="Devin Chalmers" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="http://use.typekit.com/srg7uaj.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="http://feeds.feedburner.com/generalspecificity" rel="alternate" title="General Specificity: Devin Chalmers" type="application/atom+xml" />
	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link rel="stylesheet" media="screen, projection" href="/css/screen.css" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25818630-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script></head>
<body class="">
	<div id="top">
		<div id="head">
			<div class="span-13 tk-anivers">
				<h1><a href="/">General Specificity</a></h1>
			</div>
			<ul id="nav" class="span-8 last">
				<li class="span-8 last"><input type="text" placeholder="Search" /></li>
				<li class="span-4"><a href="/about.html">About</a></li>
				<li class="span-4 last"><a href="/atom.xml">Subscribe</a></li>
				<li class="span-4"><a href="https://twitter.com/qwzybug">Twitter</a></li>
				<li class="span-4 last"><a href="https://github.com/qwzybug">GitHub</a></li>
			</ul>
			<p class="span-21 clear" id="byline">In general, be specific: a blog about mostly code by Devin Chalmers, 2011 to present.
				&nbsp;&mdash;</p>
		</div>
		<div class="clear"></div>
	</div>
	<div id="content">
	  {{ content }}
	</div>
	<div id="bottom">
		<div id="foot" class="clear quiet">
			&copy; 2011 devin chalmers
		</div>
	</div>
</body>
</html>
